$fnt-size-14: 14px;
$fnt-size-16:16px;
$fnt-size-18:18px;
$fnt-size-24:24px;
$fnt-size-22:22px;
$font-size-20:20px;
$fnt-size-28:28px;
$fnt-size-30:30px;
$font-size-41:41px;
$font-size-36:36px;
$color-1:#fff;
$color-2:#000;
$color-primary:#e5e12b;
$color-primary1:#e31e24;
$color-3:#D0CC16;
$color-4:#e7e7e7;
$color-5:#C4C4C4;
$color-bgfooter:#535352;
$color-footer-form:#8E8E8E;
$fnt-family-montserrat:'Montserrat', sans-serif;;
$fnt-family-times:'Times New Roman', Times, serif;
