.faq-banner {
    background: url(../img/FAQs.jpg) top left no-repeat;
    background-size: cover;
    h1 {
        display: inline-block;
        position: relative;
        font-weight: 600;
        line-height: 1.20833;
        font-size: 48px;
        color: $color-1;
        text-shadow: -1px 0 #e31e24, 0 1px #e31e24, 1px 0 #e31e24, 0 -1px #e31e24;
        margin-top: 180px;
        &::before {
            content: "";
            position: absolute;
            background-color: #e31e24;
            top: 0;
            bottom: 0;
            width: 6px;
            left: -44px;
        }
    }
}

.faq-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#main {
    margin: 50px 0;
}

#main #faq .card {
    margin-bottom: 10px;
    border: 0;
}

#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    padding: 0;
}

#main #faq .card .card-header .btn-header-link {
    color: $color-2;
    display: block;
    text-align: left;
    color: #222;
    padding: 14px;
    font-size: $fnt-size-18;
    font-weight: 600;
}

#main #faq .card .card-header .btn-header-link:hover {
    color: $color-primary1 !important;
}

#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-weight: 900;
    float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
    color: $color-2;
    border-top: 1px solid #ededed;
    background: $color-1;
}

#main #faq .card .collapsing {
    background: $color-1;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: $color-1;
    line-height: 30px;
    color: #222;
}

#main #faq .card .card-body {
    padding: 0px 14px 16px 14px;
}

.card-header {
    background: $color-1;
    border-top: 1px solid #ededed !important
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.card-body ul li {
    list-style-type: none;
}

.card-body ul li::before {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    color: #e31e24;
}