<button onclick="topFunction()" id="myBtn" title="Go to top">
	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</button>
<header>
	<div class="header-top" id="header-top">
		<div class="container-xl">
			<div class="row">
				<div class="col-12 cnt-dt">
					Get in touch! +91 2764 268612 / +91 2764 268613 / +91 2764 268614 / +91 2764 268615 / info@aaagindia.in
				</div>
			</div>
		</div>
	</div>
	<div class="nav-area" id="nav-head">
		<div id="top-toggler" onclick="showHeader()">
			<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
		</div>
		<div class="container-xl">
			<div class="row">
				<div class="col-12">
					<div class="logo">
						<img src="img/aaagindia_logo_new.png" alt="aag india">
					</div>
					<div class="nav-container">
						<div class="co-name">
							Shah Bhogilal Jethalal & Bros.
							<br>
							<span>Manufacturers of Quality Fire Fighting Equipment
							</span>
						</div>
						<div class="nav-block">
							<nav class="navbar">
								<button class="navbar-toggler">
									<i class="fa fa-bars" aria-hidden="true"></i>
								</button>
								<ul class="navbar-nav">
									<li class="nav-close">
										<button class="btn-nav-close">
											<span class="close-btn">+</span>
										</button>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Home</a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">About Us
										</a>
										<ul class="dropdown">
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-2</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-3</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-4</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Products
										</a>
										<ul class="dropdown w-full">
											<div class="container">
												<div class="row w-100">
													<div class="col-lg-4 col-md-4 col-sm-4">
														<ul class="nav flex-column">
															<li class="nav-item">
																<a class="nav-link active" href="#">Active</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#">Link item</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#">Link item</a>
															</li>
														</ul>
													</div>
													<!-- /.col-md-4  -->
													<div class="col-lg-4 col-md-4 col-sm-4 mr-auto">
														<ul class="nav flex-column">
															<li class="nav-item">
																<a class="nav-link active" href="#">Active</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#">Link item</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#">Link item</a>
															</li>
														</ul>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 mr-auto">
														<ul class="nav flex-column">
															<li class="nav-item">
																<a class="nav-link active" href="#">Active</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#">Link item</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#">Link item</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</ul>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Know Your Products
										</a>
										<ul class="dropdown">
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-1</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Downloads</a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Gallery</a>
										<ul class="dropdown">
											<li class="nav-item">
												<a href="#" class="nav-link">Images
												</a>
												<ul class="dropdown">
													<li class="nav-item">
														<a href="#" class="nav-link">Dropdown lavel-2</a>
													</li>
													<li class="nav-item">
														<a href="#" class="nav-link">Dropdown lavel-2</a>
													</li>
													<li class="nav-item">
														<a href="#" class="nav-link">Dropdown lavel-2
														</a>
													</li>
												</ul>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Dropdown lavel-1</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Blogs</a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Contact Us</a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">Careers</a>
									</li>
									<div class="navbar-utils">
										<div class="utils-search">
											<form class="navbar-form navbar-right navbar-form-search" role="search">
												<div class="search-form-container hdn" id="search-input-container">
													<div class="search-input-group">
														<button type="button" class="btn btn-default" id="hide-search-input-container">
															<i class="fa fa-times" aria-hidden="true"></i>
														</button>
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Search for...">
														</div>
													</div>
												</div>
												<button type="submit" class="btn btn-default" id="search-button">
													<i class="fa fa-search" aria-hidden="true"></i>
												</button>
											</form>
										</div>
									</div>
								</ul>
							</nav>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
